body {
    background: black url(FS_SunFinal_TShirt.png) left center fixed;
    background-size: 100%;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

h1{
    color: lightgray;
}

h2{
    color: lightgray;
}


.center-block-style {
    text-align: center;
    float: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}

.light-background a{
    background-color:
    rgba(250, 250, 250, 0.85);
    color: black;
}


.light-background li{
    background-color:
    rgba(250, 250, 250, 0.85);
    color: black;
}

.transparent-background{
    background-color:
    rgba(250, 250, 250, 0);
}

.square{
    border-radius: 2px!important;
    /*text-colo*/
}
