<!DOCTYPE html>

<html lang="en">
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">
    <script src='{% static 'stylesheets/main.css' %} '></script>

    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'FriendlySavagesDjango/base.css' %}"/>


</head>


<body>

<div id="all_navbar">
    {% block navbar %}
        {% include "navbar.html" %}
    {% endblock %}
</div>


<div id="content">
    {% block content %}{% endblock %}
</div>

<div id="sound_bar">
    {% block sound_bar %}
        {% include "sound_bar.html" %}
    {% endblock %}
</div>

<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="//browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
<script src='{% static "FriendlySavagesDjango/main_page.js" %}'></script>
<script src='{% static "foundation/js/foundation.min.js" %}'></script>
<script src='{% static "foundation/js/vendor/fastclick.js" %}'></script>
<script src='{% static "foundation/js/vendor/modernizr.js" %}'></script>
<script src='{% static "foundation/js/foundation/foundation.accordion.js" %}'></script>

{% block extrascript %}
    <script>
        $(function () {

            // Prepare
            var History = window.History; // Note: We are using a capital H instead of a lower h
            if (!History.enabled) {
                // History.js is disabled for this browser.
                // This is because we can optionally choose to support HTML4 browsers or not.
                return false;
            }

            // Bind to StateChange Event
            History.Adapter.bind(window, 'statechange', function () {
                var State = History.getState();
                if (State) {
                    $('#content').load(State.url);
                }
            });

            ajaxifyLinks();
        });
    </script>



{% endblock %}

    <script>
        $(document).foundation();
    </script>

</body>
</html>