{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="center-block col-md-6">
            <div class="well well-small">
                <h1>{{ album.name }}</h1>
                <table class="table table-striped" data-show-header="false">
                    <thead>
                    <tr>
                        <th data-field="name">Track Name</th>
                        <th data-field="button">Go to lyrics</th>
                    </tr>
                    </thead>
                    {% for song in album.songs.all %}
                        <tr id="tr_id_{{ song.id }}">
                            <td> {{ song.title }} </td>
                            <td><a href="/lyrics/songs/{{ song.id }}/" class="btn">LYRICS</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}