{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
    <div class="center-block col-md-6 center-block-style transparent-background">
                <h1>{{ album.name }} Lyrics</h1>
    <br>
                <ul class="list-group light-background">
                    {% for song in album.songs.all %}
                            <a href="/lyrics/songs/{{ song.id }}/" class="list-group-item square">
                                {{ song.title }}
                            </a>
                    {% endfor %}
                </ul>
        </div>
    </div>

{% endblock %}