{% extends "base.html" %}


{% block content %}

    {% if album_list %}
        <ul>
            {% for album in album_list %}
                <li><a href="/lyrics/albums/{{ album.id }}/">{{ album }}</a></li>
                <ul>
                    {% for song in album.song_set %}
                        <li><a href="/lyrics/songs/{{ song.id }}/">{{ song }}</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    {% else %}
        <p>No songs are available.</p>
    {% endif %}

{% endblock %}