<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">
{#    <script src='{% static 'stylesheets/main.css' %} '></script>#}

    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'FriendlySavagesDjango/base.css' %}"/>

</head>
<body>

<div id="all_navbar">
    {% block navbar %}
        {% include "navbar.html" %}
    {% endblock %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

<script type="text/javascript" src='{% static 'jquery/src/jquery.js' %}'></script>
<script src='{% static 'foundation/js/foundation/foundation.clearing.js' %} '></script>


<script src='{% static "foundation/js/vendor/jquery.js" %}'></script>
<script src='{% static "foundation/js/foundation.min.js" %}'></script>
<script src='{% static "foundation/js/foundation/foundation.accordion.js" %}'></script>

  <script>
    $(document).foundation();
  </script>


</body>
</html>